:root {

/* ========================= */
/* COLORS */
/* ========================= */

--bg: #F7F3EB;

--surface: #FFFDF8;

--text: #111111;

--muted: #6B6B6B;

--border: #111111;

/* RED ACCENT */
--yellow: #DC2626;

--purple: #7C3AED;

--green: #22C55E;

--red: #EF4444;

--shadow-color: #111111;


/* ========================= */
/* LAYOUT */
/* ========================= */

--container: 1400px;

--radius: 0px;


/* ========================= */
/* ANIMATION */
/* ========================= */

--transition: .28s ease;

}



/* ======================================================== */
/* DARK THEME */
/* ======================================================== */

[data-theme="dark"] {

--bg: #000000;
--surface: #0A0A0A;

--text:#F5F5F5;

--muted:#A5A5A5;

--border:#F5F5F5;

/* RED ACCENT */
--yellow:#DC2626;

--purple:#A855F7;

--green:#4ADE80;

--red:#F87171;

--shadow-color:#000000;

}